<footer>
    <p>&copy; 2024 CSE Motors. All rights reserved.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/error" id="error-link">Error</a></li>
        </ul>
    </nav>
</footer>