<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">YourSiteName</a>
  </span>

  <div id="tools">
    <% if (locals.loggedIn) { %>
      <a href="/account/manage" title="Go to your account">Welcome <%= locals.accountFirstName %></a>
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>